@{
  ViewBag.Title = "Home Page";
}

<main>
  <!--first page-->
  <section class="backImage">
    <h3>
      最好的茶，<br />
      源自於最自然的茶葉
    </h3>
    <button class="start">產品導覽</button>
  </section>
  <!--secend page-->
  <section class="second">
    <h2>活動訊息</h2>
    <section class="cards">
      <div class="card">
        <img src="~/Image/資源包/下載.jpg" alt="picture" />
        <h4>苗栗茶工廠開幕</h4>
        <p>115年2月30日苗栗茶廠開放參觀</p>
        <a href="#">了解更多</a>
      </div>
      <div class="card">
        <img src="~/Image/資源包/paochatupian-39940516_3.jpg" alt="picture" />
        <h4>美人茶的秘密</h4>
        <p>特選美人茶限時特惠中</p>
        <a href="#">了解更多</a>
      </div>
      <div class="card">
        <img src="~/Image/資源包/9c88fc4ef9b873ea66a80a6514879e78_t.jpeg" alt="picture" />
        <h4>貴賓生日獨享</h4>
        <p>凡於當日生日會員購物滿1000送300</p>
        <a href="#">了解更多</a>
      </div>
    </section>
  </section>




</main>